@import url(theme.css);
.carousel-item {
    height: 40rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.card {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    
}


